


<div class="box">
    <div class="photo-box1">
        <div>
            <h2 class="h2ROVER-name">CURIOSIYY</h2>
        </div>
    </div>
    <div class="box1">
        <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
              <li id="carousel__slide1"
                  tabindex="0"
                  class="carousel__slide">
                <img class="IMG-C" src="/styles/images/Curiosity/Curiosity'1.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper">
                  <a href="#carousel__slide4"
                     class="carousel__prev">Go to last slide</a>
                  <a href="#carousel__slide2"
                     class="carousel__next">Go to next slide</a>
                </div>
              </li>
              <li id="carousel__slide2"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Curiosity/Curiosity'2.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide3"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Curiosity/Curiosity'3.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide4"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Curiosity/Curiosity'4.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide3"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide1"
                   class="carousel__next">Go to first slide</a>
              </li>
            </ol>
            <aside class="carousel__navigation">
              <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide1"
                     class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide2"
                     class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide3"
                     class="carousel__navigation-button">Go to slide 3</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide4"
                     class="carousel__navigation-button">Go to slide 4</a>
                </li>
              </ol>
            </aside>
          </section>
        <div class="photo-box2">

        </div>
    </div>
    

    <div class="ROVER-Info-box">
        <p class="rover-info-p">Curiosity is a car-sized Mars rover exploring Gale crater and Mount Sharp on Mars as part of NASA's Mars Science Laboratory (MSL) mission. Curiosity was launched from Cape Canaveral (CCAFS) on November 26, 2011, at 15:02:00 UTC and landed on Aeolis Palus inside Gale crater on Mars on August 6, 2012, 05:17:57 UTC. The Bradbury Landing site was less than 2.4 km (1.5 mi) from the center of the rover's touchdown target after a 560 million km (350 million mi) journey.</p>
    </div>
</div>