

<div class="box">
    <div class="photo-box1">
        <div>
            <h2 class="h2ROVER-name">OPPORTUNITY ROVER</h2>
        </div>
    </div>
    <div class="box1">
        <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
              <li id="carousel__slide1"
                  tabindex="0"
                  class="carousel__slide">
                <img class="IMG-C" src="/styles/images/Opportunity/Opportunity1.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper">
                  <a href="#carousel__slide4"
                     class="carousel__prev">Go to last slide</a>
                  <a href="#carousel__slide2"
                     class="carousel__next">Go to next slide</a>
                </div>
              </li>
              <li id="carousel__slide2"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Opportunity/Opportunity2.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide3"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Opportunity/Opportunity3.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide4"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Opportunity/Opportunity4.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide3"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide1"
                   class="carousel__next">Go to first slide</a>
              </li>
            </ol>
            <aside class="carousel__navigation">
              <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide1"
                     class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide2"
                     class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide3"
                     class="carousel__navigation-button">Go to slide 3</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide4"
                     class="carousel__navigation-button">Go to slide 4</a>
                </li>
              </ol>
            </aside>
          </section>
        <div class="photo-box2">

        </div>
    </div>
    

    <div class="ROVER-Info-box">
        <p class="rover-info-p">Opportunity, also known as MER-B (Mars Exploration Rover – B) or MER-1, is a robotic rover that was active on Mars from 2004 until 2018.
            Opportunity was operational on Mars for 5111 sols (14 years, 138 days on Earth). Launched on July 7, 2003, as part of NASA's Mars Exploration Rover program,
            it landed in Meridiani Planum on January 25, 2004, three weeks after its twin, Spirit (MER-A), touched down on the other side of the planet.
            With a planned 90-sol duration of activity (slightly less than 92.5 Earth days), Spirit functioned until it got stuck in 2009 and ceased communications in 2010, 
            while Opportunity was able to stay operational for 5111 sols after landing, maintaining its power and key systems through continual recharging of its batteries using 
            solar power, and hibernating during events such as dust storms to save power. This careful operation allowed Opportunity to operate for 57 times its designed lifespan, 
            exceeding the initial plan by 14 years, 47 days (in Earth time). By June 10, 2018, when it last contacted NASA, the rover had traveled a distance of 45.16 kilometers (28.06 miles)</p>
    </div>
</div>