


<div class="box">
    <div class="photo-box1">
        <div>
            <h2 class="h2ROVER-name">PERSEVERANCE ROVER</h2>
        </div>
    </div>
    <div class="box1">
        <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
              <li id="carousel__slide1"
                  tabindex="0"
                  class="carousel__slide">
                <img class="IMG-C" src="/styles/images/Perseverance/Perseverance1.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper">
                  <a href="#carousel__slide4"
                     class="carousel__prev">Go to last slide</a>
                  <a href="#carousel__slide2"
                     class="carousel__next">Go to next slide</a>
                </div>
              </li>
              <li id="carousel__slide2"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Perseverance/Perseverance2.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide3"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Perseverance/Perseverance3.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide4"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Perseverance/Perseverance4.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide3"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide1"
                   class="carousel__next">Go to first slide</a>
              </li>
            </ol>
            <aside class="carousel__navigation">
              <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide1"
                     class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide2"
                     class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide3"
                     class="carousel__navigation-button">Go to slide 3</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide4"
                     class="carousel__navigation-button">Go to slide 4</a>
                </li>
              </ol>
            </aside>
          </section>
        <div class="photo-box2">

        </div>
    </div>
    

    <div class="ROVER-Info-box">
        <p class="rover-info-p">Perseverance, nicknamed Percy, is a car-sized Mars rover designed to explore the Jezero crater on Mars as part of NASA's Mars 2020 mission. It was manufactured by the Jet Propulsion Laboratory and launched on July 30, 2020, at 11:50 UTC.[3] Confirmation that the rover successfully landed on Mars was received on February 18, 2021, at 20:55 UTC. As of 22 September 2023, Perseverance has been active on Mars for 921 sols (946 Earth days, or 2 years, 7 months and 4 days) since its landing. Following the rover's arrival, NASA named the landing site Octavia E. Butler Landing</p>
    </div>
</div>