


<div class="box">
    <div class="photo-box1">
        <div>
            <h2 class="h2ROVER-name">SPIRIT ROVER</h2>
        </div>
    </div>
    <div class="box1">
        <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
              <li id="carousel__slide1"
                  tabindex="0"
                  class="carousel__slide">
                <img class="IMG-C" src="/styles/images/Spirit/Spirit1.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper">
                  <a href="#carousel__slide4"
                     class="carousel__prev">Go to last slide</a>
                  <a href="#carousel__slide2"
                     class="carousel__next">Go to next slide</a>
                </div>
              </li>
              <li id="carousel__slide2"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Spirit/Spirit2.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide3"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Spirit/Spirit3.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide4"
                  tabindex="0"
                  class="carousel__slide">
                  <img class="IMG-C" src="/styles/images/Spirit/Spirit4.jpg" alt="Girl in a jacket" width="500" height="600">
                <div class="carousel__snapper"></div>
                <a href="#carousel__slide3"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide1"
                   class="carousel__next">Go to first slide</a>
              </li>
            </ol>
            <aside class="carousel__navigation">
              <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide1"
                     class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide2"
                     class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide3"
                     class="carousel__navigation-button">Go to slide 3</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide4"
                     class="carousel__navigation-button">Go to slide 4</a>
                </li>
              </ol>
            </aside>
          </section>
        <div class="photo-box2">

        </div>
    </div>
    

    <div class="ROVER-Info-box">
        <p class="rover-info-p">Spirit, also known as MER-A (Mars Exploration Rover – A) or MER-2, is a Mars robotic rover, active from 2004 to 2010. Spirit was operational on Mars for 2208 sols or 3.3 Martian years (2269 days; 6 years, 77 days). It was one of two rovers of NASA's Mars Exploration Rover Mission managed by the Jet Propulsion Laboratory (JPL). Spirit landed successfully within the impact crater Gusev on Mars at 04:35 Ground UTC on January 4, 2004, three weeks before its twin, Opportunity (MER-B), which landed on the other side of the planet. Its name was chosen through a NASA-sponsored student essay competition. The rover got stuck in a "sand trap" in late 2009 at an angle that hampered recharging of its batteries; its last communication with Earth was on March 22, 2010.</p>
    </div>
</div>